doctype html
html
  head
    // mathjax js
    script(type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=MML_CHTML")
    // codemirror  js
    //script(type="text/javascript" src="https://cdn.rawgit.com/codemirror/CodeMirror/master/lib/codemirror.js")
    script(type="text/javascript" src="static/codemirror.js")
    // my js
    //script(type="text/javascript" src="static/equation-highlight.js")
    script(type="text/javascript" src="static/dorepl.js")
    //codemirror css
    link(rel="stylesheet" type="text/css" href="static/codemirror.css")
    // my css
    link(rel="stylesheet" type="text/css" href="static/disable-highlight.css")
    link(rel="stylesheet" type="text/css" href="static/math.css")
  body
    #repl
    label
      button(onclick="sendOutputLatex()") Get Selected LaTeX Code

//- vim: sw=2 sts=2
//- au BufWritePost * !pug -P index.pug
