doctype html
meta(charset="UTF-8")
html
  head
    //- JQuery
    script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")

    //- mathjax js
    script(type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=MML_CHTML")

    //- codemirror  js
    script(type="text/javascript" src="https://codemirror.net/lib/codemirror.js")
    //- codemirror css
    link(rel="stylesheet" type="text/css" href="https://codemirror.net/lib/codemirror.css")

    script(type="text/javascript" src="https://codemirror.net/addon/edit/matchbrackets.js")

    //- Bootstrap
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")

    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")

    //- my js
    script(type="text/javascript" src="static/dorepl.js")

    //- my css
    link(rel="stylesheet" type="text/css" href="static/disable-highlight.css")
    link(rel="stylesheet" type="text/css" href="static/math.css")
  body
    #main-area
      #topbar
        button(type="button" class="btn btn-default btn-sm" onclick="sendOutputLatex()") Get Checked Math as LaTeX
        button(type="button" class="btn btn-default btn-sm" onclick="downloadSession()") Download Session
        input(type="file" id="loadsessioninput" onchange="loadSession(this.files[0]); this.files = null" style="display:none")
        button(type="button" class="btn btn-default btn-sm" onclick="$('#loadsessioninput').click()") Load Session
        button(type="button" class="btn btn-default btn-sm" onclick="openhelp(this)") Close Help
        button(type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#feedbackModal") Send feedback!

      #repl

      #model-output.output.math-output.new-math-output
        span.output.disable-highlight.formula
        .btn-group(role="group", aria-label="...")
          input.output-latex(type="checkbox" data-toggle="tooltip" data-placement="top" title="Select this equation for output")
        .btn-group(role="group", aria-label="...")
          button.recover.btn.btn-default.btn-sm(type="button" data-toggle="tooltip" data-placement="top" title="Recover this equation")
            .glyphicon.glyphicon-repeat
          button.getcode.btn.btn-default.btn-sm(type="button" data-toggle="tooltip" data-placement="top" title="Insert the LaTeX for this equation into current input")
            .glyphicon.glyphicon-pencil

      #feedbackModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='feedbackModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#feedbackModalLabel.modal-title Feedback
            .modal-body
              textarea#feedbackText.form-control
            .modal-footer
              button.btn.btn-primary(type='button', data-dismiss='modal', onclick='sendFeedback()') Submit Feedback
      #connectionlostmodal.modal.fade
        .modal-dialog.modal-sm
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Connection Closed
            .modal-body
              p.text-warning The connection to the server was lost. Download your session and reload this page.
            .modal-footer
              button.btn.btn-primary(type='button', data-dismiss='modal') Close
      #connectionerrormodal.modal.fade
        .modal-dialog.modal-sm
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Connection Error
            .modal-body
              p.text-warning There was an error in the connection to the server. Download your session and reload this page.
            .modal-footer
              button.btn.btn-primary(type='button', data-dismiss='modal') Close
    #help
      .panel-group#help-accordion(role="tablist" aria-multiselectable="true")
        .panel.panel-default
          #help-intro-header.panel-heading(role="tab")
            h4.panel-title
              a(role="button" data-toggle="collapse" data-parent="#help-accordion" href="#help-intro-body" aria-expanded="true" aria-controls="help-intro-body")
                | Help
          #help-intro-body.panel-collapse.collapse.in(role="tabpanel" aria-labelledby="help-intro-header")
            .panel-body
              | Khwarizmi is a language based around manipulating an expression
              | or equation. Expressions are represented as trees. Many
              | commands operate on one or more tags (subtrees of the previous
              | expression or equation). To select a tag, click on the previous
              | expression or equation repeatedly until the correct part is
              | highlighted. You can also click and drag to select, making sure
              | to start and end on parts that you #[em want] to be selected.
        .panel.panel-default
          #help-new-header.panel-heading(role="tab")
            h4.panel-title
              a(role="button" data-toggle="collapse" data-parent="#help-accordion" href="#help-new-body" aria-expanded="false" aria-controls="help-new-body")
                | $ &langle;LaTeX code&rangle;
          #help-new-body.panel-collapse.collapse(role="tabpanel" aria-labelledby="help-new-header")
            .panel-body
              | Set the current expression or equation
        .panel.panel-default
          #help-simplify-header.panel-heading(role="tab")
            h4.panel-title
              a(role="button" data-toggle="collapse" data-parent="#help-accordion" href="#help-simplify-body" aria-expanded="false" aria-controls="help-simplify-body")
                | simplify &langle;tag&rangle;
          #help-simplify-body.panel-collapse.collapse(role="tabpanel" aria-labelledby="help-simplify-header")
            .panel-body
              | Attempt to automatically simplify the tag
        .panel.panel-default
          #help-cancel-header.panel-heading(role="tab")
            h4.panel-title
              a(role="button" data-toggle="collapse" data-parent="#help-accordion" href="#help-cancel-body" aria-expanded="false" aria-controls="help-cancel-body")
                | cancel &langle;tag&rangle; &langle;tag&rangle;
          #help-cancel-body.panel-collapse.collapse(role="tabpanel" aria-labelledby="help-cancel-header")
            .panel-body
              | If the tags are inverses, delete them.
        .panel.panel-default
          #help-mapspec-header.panel-heading(role="tab")
            h4.panel-title
              a(role="button" data-toggle="collapse" data-parent="#help-accordion" href="#help-mapspec-body" aria-expanded="false" aria-controls="help-mapspec-body")
                | {+, -, /, *, ^} &langle;LaTeX code&rangle;
          #help-mapspec-body.panel-collapse.collapse(role="tabpanel" aria-labelledby="help-mapspec-header")
            .panel-body
              | Perform the operation to both sides of the previous equation.
              | For example, #[strong +y] will add #[em y] to both sides.
        .panel.panel-default
          #help-map-header.panel-heading(role="tab")
            h4.panel-title
              a(role="button" data-toggle="collapse" data-parent="#help-accordion" href="#help-map-body" aria-expanded="false" aria-controls="help-map-body")
                | map &langle;LaTeX code&rangle;
          #help-map-body.panel-collapse.collapse(role="tabpanel" aria-labelledby="help-map-header")
            .panel-body
              | Replaces each side of the current equation with the given code,
              | replacing any #[em @] symbols with the side of the current
              | equation.
        .panel.panel-default
          #help-collapse-header.panel-heading(role="tab")
            h4.panel-title
              a(role="button" data-toggle="collapse" data-parent="#help-accordion" href="#help-collapse-body" aria-expanded="false" aria-controls="help-collapse-body")
                | collapse &langle;tag&rangle; !{'&langle;[number]&rangle;'}
          #help-collapse-body.panel-collapse.collapse(role="tabpanel" aria-labelledby="help-collapse-header")
            .panel-body
              | Collapse a tower of exponents. If a number is given, collapse that many times.
        .panel.panel-default
          #help-make-header.panel-heading(role="tab")
            h4.panel-title
              a(role="button" data-toggle="collapse" data-parent="#help-accordion" href="#help-make-body" aria-expanded="false" aria-controls="help-make-body")
                | make &langle;tag(s)&rangle; &langle;LaTeX code&rangle;
          #help-make-body.panel-collapse.collapse(role="tabpanel" aria-labelledby="help-make-header")
            .panel-body
              | Replace all of the tags with the code. The tags must be part of the same sum or product.
        .panel.panel-default
          #help-delete-header.panel-heading(role="tab")
            h4.panel-title
              a(role="button" data-toggle="collapse" data-parent="#help-accordion" href="#help-delete-body" aria-expanded="false" aria-controls="help-delete-body")
                | delete &langle;tag(s)&rangle;
          #help-delete-body.panel-collapse.collapse(role="tabpanel" aria-labelledby="help-delete-header")
            .panel-body
              | Deletes the tags.
        .panel.panel-default
          #help-flip-header.panel-heading(role="tab")
            h4.panel-title
              a(role="button" data-toggle="collapse" data-parent="#help-accordion" href="#help-flip-body" aria-expanded="false" aria-controls="help-flip-body")
                | flip
          #help-flip-body.panel-collapse.collapse(role="tabpanel" aria-labelledby="help-flip-header")
            .panel-body
              | Flips left and right sides of an equation.
        .panel.panel-default
          #help-swap-header.panel-heading(role="tab")
            h4.panel-title
              a(role="button" data-toggle="collapse" data-parent="#help-accordion" href="#help-swap-body" aria-expanded="false" aria-controls="help-swap-body")
                | swap &langle;tag&rangle; &langle;tag&rangle;
          #help-swap-body.panel-collapse.collapse(role="tabpanel" aria-labelledby="help-swap-header")
            .panel-body
              | Swap the positions of the two tags.
        .panel.panel-default
          #help-distribute-header.panel-heading(role="tab")
            h4.panel-title
              a(role="button" data-toggle="collapse" data-parent="#help-accordion" href="#help-distribute-body" aria-expanded="false" aria-controls="help-distribute-body")
                | distribute [&langle;tags&rangle;] &langle;tag&rangle;
          #help-distribute-body.panel-collapse.collapse(role="tabpanel" aria-labelledby="help-distribute-header")
            .panel-body
              p When given many tags, distribute the first terms over the
                | summation provided by the last.
              p When given a single tag, distribute the power over an inner product.
        .panel.panel-default
          #help-replace-header.panel-heading(role="tab")
            h4.panel-title
              a(role="button" data-toggle="collapse" data-parent="#help-accordion" href="#help-replace-body" aria-expanded="false" aria-controls="help-replace-body")
                | replace &langle;tag(s)&rangle; &langle;LaTeX code&rangle;
          #help-replace-body.panel-collapse.collapse(role="tabpanel" aria-labelledby="help-replace-header")
            .panel-body
              | Replace each of the tags with the given LaTeX code.
        .panel.panel-default
          #help-flatten-header.panel-heading(role="tab")
            h4.panel-title
              a(role="button" data-toggle="collapse" data-parent="#help-accordion" href="#help-flatten-body" aria-expanded="false" aria-controls="help-flatten-body")
                | flatten &langle;tag&rangle;
          #help-flatten-body.panel-collapse.collapse(role="tabpanel" aria-labelledby="help-flatten-header")
            .panel-body
              | Flatten any nested addition, multiplication, or division structure

//- vim: sw=2 sts=2 tw=0
//- au BufWritePost index.pug !pug -P index.pug
