doctype html
meta(charset="UTF-8")
html
  head
    //- JQuery
    script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")

    //- mathjax js
    script(type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=MML_CHTML")

    //- codemirror  js
    script(type="text/javascript" src="https://codemirror.net/lib/codemirror.js")
    //- codemirror css
    link(rel="stylesheet" type="text/css" href="https://codemirror.net/lib/codemirror.css")

    script(type="text/javascript" src="https://codemirror.net/addon/edit/matchbrackets.js")

    //- Bootstrap
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")

    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")

    //- my js
    script(type="text/javascript" src="static/dorepl.js")

    //- my css
    link(rel="stylesheet" type="text/css" href="static/disable-highlight.css")
    link(rel="stylesheet" type="text/css" href="static/math.css")
  body
    #main-area
      #topbar
        button(type="button" class="btn btn-default btn-sm" onclick="sendOutputLatex()") Get Checked Math as LaTeX
        button(type="button" class="btn btn-default btn-sm" onclick="downloadSession()") Download Session
        input(type="file" id="loadsessioninput" onchange="loadSession(this.files[0]); this.files = null" style="display:none")
        button(type="button" class="btn btn-default btn-sm" onclick="$('#loadsessioninput').click()") Load Session
        button(type="button" class="btn btn-default btn-sm" onclick="openhelp(this)") Close Help
        button(type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#feedbackModal") Send feedback!

      #repl

      #model-output.output.math-output.new-math-output
        span.output.disable-highlight.formula
        .btn-group(role="group", aria-label="...")
          input.output-latex(type="checkbox" data-toggle="tooltip" data-placement="top" title="Select this equation for output")
        .btn-group(role="group", aria-label="...")
          button.recover.btn.btn-default.btn-sm(type="button" data-toggle="tooltip" data-placement="top" title="Recover this equation")
            .glyphicon.glyphicon-repeat
          button.getcode.btn.btn-default.btn-sm(type="button" data-toggle="tooltip" data-placement="top" title="Insert the LaTeX for this equation into current input")
            .glyphicon.glyphicon-pencil

      #feedbackModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='feedbackModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#feedbackModalLabel.modal-title Feedback
            .modal-body
              textarea#feedbackText.form-control
            .modal-footer
              button.btn.btn-primary(type='button', data-dismiss='modal', onclick='sendFeedback()') Submit Feedback
      #connectionlostmodal.modal.fade
        .modal-dialog.modal-sm
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Connection Closed
            .modal-body
              p.text-warning The connection to the server was lost. Download your session and reload this page.
            .modal-footer
              button.btn.btn-primary(type='button', data-dismiss='modal') Close
      #connectionerrormodal.modal.fade
        .modal-dialog.modal-sm
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Connection Error
            .modal-body
              p.text-warning There was an error in the connection to the server. Download your session and reload this page.
            .modal-footer
              button.btn.btn-primary(type='button', data-dismiss='modal') Close
    //-#help(style='display:none;')
    #help
      center
        h1 Help
      | Khwarizmi is a language based around manipulating an expression or equation. Expressions are represented as trees. Many commands operate on one or more tags (subtrees of the previous expression or equation). To select a tag, click on the previous expression or equation repeatedly until the correct part is highlighted. You can also click and drag to select, making sure to start and end on parts that you #[em want] to be selected.
      ul
        li #[strong $ &langle;LaTeX code&rangle;]: Set the current expression or equation
        li #[strong simplify &langle;tag&rangle;]: Attempt to automatically simplify the tag.
        li #[strong cancel &langle;tag&rangle; &langle;tag&rangle;]: If the tags are inverses, delete them.
        li &langle;#[strong +], #[strong -], #[strong /], #[strong *], or #[strong ^]&rangle; #[strong &langle;LaTeX code&rangle;]: Perform the operation to both sides of the previous equation. For example, #[strong +y] will add #[em y] to both sides.
        li #[strong map &langle;LaTeX code&rangle;]: Replaces each side of the current equation with the given code, replacing any #[em @] symbols with the side of the current equation.
        li #[strong collapse &langle;tag&rangle; !{'&langle;[number]&rangle;'}]: Collapse a tower of exponents. If a number is given, collapse that many times.
        li #[strong make &langle;tag(s)&rangle; &langle;LaTeX code&rangle;]: Replace all of the tags with the code. The tags must be part of the same sum or product.
        li #[strong delete &langle;tag(s)&rangle;]: Deletes the tags.
        li #[strong flip]: Flips left and right sides of an equation.
        li #[strong swap &langle;tag&rangle; &langle;tag&rangle;]: Swap the positions of the two tags.
        li #[strong distribute &langle;tags&rangle; &langle;tag&rangle;]: Distribute the first terms over the summation provided by the last.
        li #[strong distribute-pow &langle;tag&rangle;]: Distribute this power over the inner product.
        li #[strong replace &langle;tag(s)&rangle; &langle;LaTeX code&rangle;]: Replace each of the tags with the given LaTeX code.


//- vim: sw=2 sts=2 tw=0
//- au BufWritePost index.pug !pug -P index.pug
