/* Disable the blue box that appears around equations when you click on them
 */
.MathJax:focus, .mjx-chtml:focus, .MathJax_SVG:focus {
   outline: none;
}
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

[highlighted]:not([selected]) {
    border-style: solid;
}

[highlighted="0"]  { border-color: purple; outline-color: purple; }
[highlighted="1"]  { border-color: orange; outline-color: orange; }
[highlighted="2"]  { border-color: lightblue; outline-color: lightblue; }
[highlighted="3"]  { border-color: red; outline-color: red; }
[highlighted="4"]  { border-color: gray; outline-color: gray; }
[highlighted="5"]  { border-color: green; outline-color: green; }
[highlighted="6"]  { border-color: blue; outline-color: blue; }
[highlighted="7"]  { border-color: salmon; outline-color: salmon; }
[highlighted="8"]  { border-color: violet; outline-color: violet; }
[highlighted="9"]  { border-color: greenyellow; outline-color: greenyellow; }

[hoverednode][selected] {
    outline-style: solid;
    outline-width: 3px;
}

[hoverednode]:not([selected]) {
    outline-style: solid;
    outline-width: 2px;
}

[mathtreenode][selected] {
    outline-style: solid;
}

.output {
  padding: 0.1em;
  margin: 0.3em;
}

.algebra-dsl-error {
  border: 1px solid red;
  background-color: #fd8;
}
